# **Tugas Besar Data Mining Kelompok 9**

---

Anggota :

1. Nathaniel Yusuf Langelo  - 102022480033
2. Achmad Fanial Hubaib     - 102022480027
3. Fikri Muhammad Awaludin  - 1020224800288

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Medicaldataset.csv')
df.head()

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result
0,64,1,66,160,83,160.0,1.80,0.012,negative
1,21,1,94,98,46,296.0,6.75,1.060,positive
2,55,1,64,160,77,270.0,1.99,0.003,negative
3,64,1,70,120,55,270.0,13.87,0.122,positive
4,55,1,64,112,65,300.0,1.08,0.003,negative